<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Butcherman&family=Rye&family=Special+Elite&family=Vollkorn:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="grain-overlay" aria-hidden="true"></div>
  <div class="vignette" aria-hidden="true"></div>

 <nav class="site-header__nav">
      <a href="{{ '/' | relative_url }}">Home</a>
          <div class="nav-item-dropdown">
        <a href="{{ '/about/' | relative_url }}">About</a>
        <div class="nav-dropdown">
          <p>know more</p>
        </div>
      </div>
     <div class="nav-item-dropdown">
        <a href="{{ '/essays/' | relative_url }}">Channel E</a>
        <div class="nav-dropdown">
          <p>rabbit hole opening soon</p>
        </div>
      </div>
     <div class="nav-item-dropdown">
        <a href="{{ '/articles/' | relative_url }}">Articles</a>
        <div class="nav-dropdown">
          <p>Rabbit hole opening soon.</p>
        </div>
      </div>
      <div class="nav-item-dropdown">
        <a href="{{ '/recommendations/' | relative_url }}">Watchlist</a>
        <div class="nav-dropdown">
          <p>rabbit hole opening soon</p>
        </div>
      </div>
         <div class="nav-item-dropdown">
        <a href="{{ '/crawlspace/' | relative_url }}">Crawlspace</a>
        <div class="nav-dropdown">
          <p>crawlspace opening soon</p>
        </div>
      </div>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer class="site-footer">
    <p>Filed and maintained by candlelight. &copy; {{ site.time | date: '%Y' }} Uncanny Archive.</p>
  </footer>
</body>
</html>
